TELEGRAM_TOKEN=your_telegram_token
API_BASE_URL=host your server and put the url of it here and run it locally and expose it on internet using ngrok and put the url here
API_TOKEN=a token that you can generate using any password generator so only bot can call your server and no one else
